$body-font: 'Source Sans Pro', sans-serif;
$headings-font: 'Source Sans Pro', serif;

$elements-radius-max: 6rem;
$background-col: dodgerblue;

:root {
	--site-backround-color-default: black;
	--mint-one: rgb(205, 255, 205);
	--mint-two: rgb(223, 254, 225);
	--mint-three: rgb(235, 255, 245);
	--mint-four: rgb(221, 249, 236);
	--mint-five: rgb(187, 243, 218);
	--elements-radius-large: 6rem;
	--grid-total: 12;
	--border-color-default: #30363d;
}
