
.cube-messaging {
    display: flex;
    justify-content: center;
    flex-direction: column;
    pointer-events: none;
}

.message {
    position: absolute;
    top: 48%;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    max-width: 90%;
    background-color: transparent;

    /* text-transform: uppercase; */
    text-align: center;

    /* box-shadow: 10px 0 0 #bc0018, -10px 0 0 #bc0018; */
}

.message span {
    color: white;
    
    background-color: black;
    padding: 0.2em 0.3em;
    /* box-shadow: 5px 0 0 #bc0018, -5px 0 0 #bc0018; */
    /* TODO check this css against browsers */
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;

    line-height: 1.9rem;
    font-size: 1.6rem;
    font-weight: 900;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.message-hide {
    display: none;
}

.message-show {
    display: inline-block;
}

.message:last-child {
    margin-bottom: 0;
}

.btn {
    /* outline: 1px solid black;
    outline-offset: -5px; */
     
    display: inline-block;
    width: 225px;
    padding: 0.3em 0.3em;
    border-radius: 0;
    line-height: 1.6rem;
    font-size: 1.6rem;
    font-weight: 900;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    transition: color .3s, border-color .3s, background-color .3s, -webkit-transform 75ms;
    transition: color .3s, border-color .3s, background-color .3s, transform 75ms;
}

.btn-black,
.btn-black:active,
.btn-black:focus {
    color: #fff;
    border-color: black;
    background-color: black;
}

.btn-default,
.btn-default:active,
.btn-default:focus {
    color: black;
    border-color: slategray;
    background-color: snow;
}

.btn-default:hover {
    color: #fff;
    border-color: #000;
    background-color: black;
    background-color: rgba(0,0,0,0.6);
}

.btn-default:hover,
.btn-red,
.btn-red:active,
.btn-red:focus {
    color: #fff;
    border-color: #bc0018;
    background-color: #bc0018;
}

.cube-end-frame {
    /* outline: 1px solid red; */
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    text-align: center;
    opacity: 0;
    transition: opacity 1s;
    pointer-events: none;
    /* transform: translateX(-50%); */
}

.cube-end-frame * {
    margin-bottom: 0.5em;
}

.show-end-frame {
    opacity: 1;
}

a:any-link {
    text-decoration: none;
}

.all-frame-cta {
    position: absolute;
    cursor: pointer;
    z-index: 50;
    top: 45%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    background-color: transparent;
    opacity: 1;
    /* pointer-events: none; */
}



.logo {
    position: absolute;
    left: 0;
    bottom: 0;
    width: inherit;
    height: auto;
    background-color: white;
    pointer-events: none;
}

.logo img{
    font-size: 0;
    display: block;
}
 

.cta-area{
    position: absolute;
    top:0;
    left:0;
    z-index: 0;
    background-color: black;
    width: 100%;
    height: inherit;
    cursor: pointer;
}