@use '../variables' as vars;

.card {
	width: min(100%, 55em);
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow: hidden;
	background-color: snow;
	// fix for stray pixels around overlapping champfers
	background-image: linear-gradient(360deg, black 20px, snow 10px);
	border-top-left-radius: var(--elements-radius-small);
	border-bottom-right-radius: var(--elements-radius-small);
	filter: drop-shadow(2px 4px 6px var(--site-charcoal));
	img {
		max-width: 100%;

		display: block;
		border-bottom-right-radius: var(--elements-radius-small);
	}

	img.tweak-top-left-radius {
		border-top-left-radius: 1.6rem;
	}

	.info {
		padding: 1rem 2rem;
		font-size: 1rem;
		h2,
		h3,
		h4,
		h5 {
			margin: 0;
		}
		.terms {
			margin-top: 0.75rem;
			font-variant: all-small-caps;
			font-weight: 400;

			color: cadetblue;
			span:not(:last-child) {
				margin-right: 0.5rem;
				padding-right: 0.5rem;
				border-right: 1px solid #6c6c6c;
			}
		}

		p {
			line-height: 1.3rem;
		}
	}

	nav {
		display: grid;
		grid-template-columns: repeat(2, 1fr);

		place-content: center;
		text-align: center;
		font-size: 0.75rem;

		background-color: var(--site-charcoal);
		border-top-left-radius: var(--elements-radius-small);

		color: var(--card-background-color);
		padding: 0.33rem;

		a:not(:last-of-type) {
			border-right: 1px solid #6c6c6c;
		}

		a {
			padding: 0.66rem 0;
		}

		a:hover {
			color: var(--hover-colour);
		}
	}

	nav.single-col {
		grid-template-columns: 1fr;
	}
	nav.triple-cols {
		grid-template-columns: repeat(3, 1fr);
	}
}

.content-block > .card:nth-of-type(1) {
	grid-column: 1 / 8;
}
.content-block > .card:nth-of-type(2) {
	grid-column: 8 / -1;
}
.content-block > .card:nth-of-type(3) {
	grid-column: 1 / 6;
}
.content-block > .card:nth-of-type(4) {
	grid-column: 6 / -1;
}
.content-block > .card:nth-of-type(5) {
	grid-column: 1 / 7;
}
.content-block > .card:nth-of-type(6) {
	grid-column: 7 / -1;
}
.content-block > .card:nth-of-type(7) {
	grid-column: 4 / 10;
}
