@use '../variables' as vars;

.hero {
	background-color: #36454f;

	color: snow;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-top-left-radius: var(--elements-radius-small);
	border-bottom-right-radius: var(--elements-radius-small);
	width: 90%;
	padding: 0 1rem;

	margin: 10px auto;

	box-sizing: border-box;

	p {
		font-size: 1rem;
		text-align: left;
		margin: 0.5rem 0;
	}

	@media (min-width: vars.$medium-breakpoint) {
		width: min(90%, var(--base-site-width));
		padding: 4rem 4rem;
		p {
			font-size: 2rem;
			margin: 0.2rem 0;
		}

		p:first-of-type {
			padding-top: 0.75rem;
			border-top: 1px solid snow;
		}

		p:last-of-type {
			padding-bottom: 0.75rem;
			border-bottom: 1px solid snow;
		}
	}
}
