p.no-location-result {
  color: #03a9f4;
  font-weight: 500;
  z-index: 5;
  transition-duration: 1s;
}

p.show-result {
  transform: translateY(0);
}
p.hide-result {
  transform: translateY(-200%);
}
