@use '../variables' as vars;

.app-wrapper {
	background-color: rgb(54, 69, 79);
	background-attachment: fixed;
}

.app-wrapper {
	display: grid;
	grid-template-rows: auto 1fr auto;
	grid-template-columns: 100%;
	min-height: 100vh;

	border: none;
}

.app-wrapper > header {
	display: flex;
	justify-content: space-between;
	.logo {
		display: inline-flex;
		background-color: transparent;
		padding: 1rem 4rem;
		border: 1px solid black;
		border-top-left-radius: var(--elements-radius-large);
		border-bottom-right-radius: var(--elements-radius-large);
		border-top: hidden;
		border-left: hidden;
		margin: 0;

		img:first-of-type {
			width: 3rem;
			height: auto;
			display: inline-block;
		}
	}

	.menu {
		display: inline-flex;
		align-items: center;
		background-color: black;
		color: snow;
		border-top: hidden;
		border-right: hidden;
		padding: 1rem 4rem;
		border-bottom-left-radius: var(--elements-radius-large);
	}
}
