@use '../variables' as vars;

.app-wrapper {
	background-color: rgb(54, 69, 79);
	background-attachment: fixed;
	border-top-left-radius: var(--elements-radius-large);
	border-bottom-right-radius: var(--elements-radius-small);
	display: grid;
	grid-template-rows: auto 1fr auto;

	width: min(96%, var(--base-site-width));
	min-height: 100vh;
	margin: 30px auto;

	// overflow: hidden;
}


.app-wrapper > main {
	.content-block {
		display: flex;
		flex-direction: column;
		width: 96%;
		margin: 0 auto;
		gap: 1rem;
		row-gap: 2rem;
		-moz-column-gap: 2rem;
		column-gap: 2rem;
		grid-template-columns: repeat(var(--grid-total), 1fr);
		padding: 1rem 0;

		@media (min-width: vars.$medium-breakpoint) {
			width: max(80%, 800px);
			display: grid;
		}
	}
}

.app-wrapper > header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1rem;

	.logo {
		display: inline-flex;
		background-color: transparent;
		padding: 1rem 4rem;
		border: 1px solid black;
		border-top-left-radius: var(--elements-radius-large);
		border-bottom-right-radius: var(--elements-radius-large);
		border-top: hidden;
		border-left: hidden;
		margin: 0;

		img:first-of-type {
			width: 3rem;
			height: auto;
			display: inline-block;
		}
	}
}
