@use '../variables' as vars;

body {
	background-color: var(--site-backround-color-default);
	font-weight: normal;
	min-height: 100vh;
	margin: 0;
	padding: 0;
}

a {
	color: snow;
	text-decoration: none;
	text-transform: uppercase;
}

a:hover {
	color: orangered;
}
