@use '../variables' as vars;

.info-block {
	width: -webkit-max-content;
	width: -moz-max-content;
	width: max-content;
	max-height: 200px;
	// background-color: orange;
	// background-image: linear-gradient(103deg, #ec9900, #d3781a);
	background: rgb(251, 159, 63);
	background-image: radial-gradient(circle at 20%, rgba(251, 159, 63, 1) 0%, rgba(199, 79, 57, 1) 90%);
	position: absolute;
	top: -7%;
	left: 20%;
	aspect-ratio: 4/4;

	padding: 0.75rem;
	border: none;
	// box-shadow: 2px 2px 4px #4e4c4c;

	h4 {
		margin: 0.15rem 0;
	}

	p {
		width: auto;
	}
	clip-path: polygon(0 0, 100% 0, 100% 89%, 0% 100%);
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
}
